@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
body {
    font-family: 'Baloo Bhai 2', cursive;
    overflow-x: hidden;
    background: #f9f9f9;
}


/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: normal;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #353535;
    font-size: 2em;
}

p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}


/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #202020;
    text-decoration: none !important;
}

a,
input,
button,
.form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: orangered;
    outline: none;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #ecc904;
}

.section-title {
    padding-bottom: 40px;
}

section {
    position: relative;
    padding: 100px 0;
}

#contact,
footer {
    background: rgba(41, 40, 40, 0.8);
    text-align: center;
}

.overlay {
    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, rgba(255, 68, 0, 0.719));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.online-form {
    position: relative;
}

.online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 25px;
}

.online-form input[type="email"] {
    width: 60%;
}

.online-form button {
    background: orangered;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 6em;
    width: 25%;
}

.online-form button:hover {
    background: orange;
    color: white;
    text-transform: uppercase;
}


/*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

.section-btn {
    background: orangered;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
}

.section-btn:hover,
.section-btn:focus {
    background: linear-gradient(to right, orange, rgb(236, 67, 67));
    color: white;
}

#btntop {
    width: 60px;
    height: 40px;
    background-color: rgb(252, 203, 113);
    border-radius: 8px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;
    color: white;
    border: none;
}

#btntop:hover {
    background-color: rgb(223, 107, 65);
    border-radius: 3px;
    color: black;
    transition: all;
    transition-duration: 1.5s;
}


/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #d6bc75;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid orangered;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


/*---------------------------------------
      MENU              
  -----------------------------------------*/

.custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
}

.custom-navbar .navbar-brand {
    color: white;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
}

.custom-navbar .navbar-brand:hover {
    color: orangered;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
}

.top-nav-collapse {
    background: rgb(182, 2, 2);
}

.custom-navbar .navbar-nav {
    margin-left: 6em;
}

.custom-navbar .nav li a {
    font-size: 18px;
    font-weight: normal;
    color: #f0f0f0;
    padding-right: 22px;
    padding-left: 22px;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: orange;
    transition-property: all;
    transition: ease-out;
    transition-duration: 1.8;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active>a {
    background-color: transparent;
    color: orangered;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: orange;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }
    .top-nav-collapse .navbar-brand {
        color: #252525;
    }
    .top-nav-collapse .nav li a {
        color: #575757;
    }
    .top-nav-collapse .nav .section-btn a {
        color: #ffffff;
    }
}


/*---------------------------------------
      HOME          
  -----------------------------------------*/

#home {
    background: url('../images/2.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
}

#home h1 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.home-info {
    margin-top: 7em;
}

.home-info h3 {
    color: #f0f0f0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0;
}


/*---------------------------------------
      FEATURE              
  -----------------------------------------*/

#feature {
    background: #ffffff;
}

.section-title h1 {
    color: rgb(223, 105, 63);
    text-shadow: orange;
}

#feature .nav-tabs {
    border-bottom: 0;
}

#feature .nav>li>a {
    padding: 8px 0;
}

#feature .nav-tabs>li>a {
    color: rgba(243, 126, 83, 0.966);
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
}

#feature .nav-tabs>li.active>a,
#feature .nav-tabs>li.active>a:focus,
#feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: rgb(250, 188, 73);
    border-bottom: 4px solid rgb(206, 134, 2);
}

#feature .nav>li>a:focus,
#feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #8f9099ef;
    color: #202020;
}

#feature .tab-content {
    margin-top: 50px;
}

.feature-image img {
    border-radius: 20px 20px;
    border-color: #f3b509cc;
    opacity: 80%;
    background: linear-gradient(to right, #1533db, rgba(255, 68, 0, 0.719));
}

.feature-image img:hover {
    transition: all;
    transition-duration: 1s;
    transition-delay: 0.5;
    opacity: 100%;
    border-bottom: 5px solid orangered;
    border-left: 6px solid #f3b509cc;
}

.tab-pane-item {
    margin: 20px 0;
}

.tab-pane-item h2 {
    margin: 0 0 5px 0;
}

.feature-image {
    position: absolute;
    bottom: -27em;
}


/*---------------------------------------
      ABOUT              
  -----------------------------------------*/

#about .col-md-4 {
    margin: 0;
    padding: 0;
}

.team-thumb {
    background: rgb(253, 191, 75);
    position: relative;
    overflow: hidden;
    color: rgba(34, 31, 20, 0.993);
}

.team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
}

.team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
}

.team-info {
    position: relative;
    padding: 40px;
}

.team-info h2 {
    margin: 0;
}

.team-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.team-thumb img {
    width: 100%;
    border-top: solid white 4px;
    border-right: solid white 4px;
    border-left: solid white 4px;
}

.team-thumb img :hover {
    transition: all;
    transition-duration: 1s;
    border-top: 10px solid rgb(253, 191, 75);
}

.team-thumb :hover {
    background-color: rgba(238, 187, 78, 0.959);
    transition: all;
    transition-duration: 1.5s;
    border-color: rgba(0, 0, 0, 0.8);
    color: white;
}


/*---------------------------------------
      TESTIMONIAL           
  -----------------------------------------*/

#testimonial {
    background: linear-gradient(to right, orange, rgb(236, 67, 67));
}

#testimonial .col-md-6 {
    margin: 0;
    padding: 0;
}

#testimonial .section-title {
    padding-bottom: 0;
}

#testimonial h1 {
    color: #130505;
}

.testimonial-image {
    background: url('../images/testimonial-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 65vh;
}

.testimonial-info {
    background: #ffeea2;
    padding: 60px;
    height: 65vh;
}

.testimonial-info h3 {
    color: #686767;
    font-style: italic;
    margin-top: 5px;
}

.testimonial-info .item {
    display: block;
    width: 100%;
}

.testimonial-item {
    margin: 20px 0;
}

.owl-carousel .owl-item img,
.testimonial-item img,
.testimonial-item h4 {
    color: #494747;
    display: inline-block;
    vertical-align: top;
}

.owl-carousel .owl-item img,
.testimonial-item img {
    border: 3px solid #363333;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}


/*---------------------------------------
      PRICING             
  -----------------------------------------*/

#about .section-title,
#pricing .section-title {
    text-align: center;
}

#pricing .col-md-4 {
    margin: 0;
    padding: 0;
}

#pricing .col-md-4:last-child .pricing-thumb {
    border-right: 0;
}

.pricing-thumb {
    background: #f7d593;
    border-right: 4px solid #7a6803;
    padding: 20px 40px;
}

.pricing-title {
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

.pricing-title h2 {
    color: rgb(104, 104, 104);
}

.pricing-info {
    border-top: 2px solid #070202;
    border-bottom: 3.5px solid #fd7302;
}

.pricing-info,
.pricing-bottom {
    padding: 20px 0;
}

.pricing-info p {
    font-size: 16px;
}

.pricing-bottom {
    position: relative;
}

.pricing-bottom span {
    font-size: 20px;
}

.pricing-btn {
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
}


/*---------------------------------------
      CONTACT             
  -----------------------------------------*/

#contact-form .col-md-12,
#contact-form .col-md-4 {
    padding-left: 0;
}

#contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
}

#contact-form .form-control:focus {
    border-bottom-color: #202020;
}

#contact-form input {
    height: 50px;
}

#contact-form input[type='submit'] {
    background: #77777771;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
}

#contact-form input[type='submit']:hover {
    background: #f7cf4f;
    color: black;
}


/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

footer {
    padding-bottom: 80px;
}

.copyright-text p {
    margin: 5px;
}


/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border-radius: 50px;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
    background: #536976;
    color: #ffffff;
}


/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media only screen and (max-width: 1200px) {
    .custom-navbar .navbar-nav {
        margin-left: 3em;
    }
    .home-info {
        margin-top: 0;
    }
}

@media only screen and (max-width: 992px) {
    section {
        padding: 60px 0;
    }
    .custom-navbar .navbar-nav {
        margin-left: 0;
    }
    .custom-navbar .nav li a {
        font-size: 14px;
        padding-right: 15px;
        padding-left: 15px;
    }
    #feature .nav-tabs>li>a {
        font-size: 16px;
        margin-right: 20px;
    }
    .feature-image {
        bottom: -24em;
    }
    .pricing-thumb {
        margin-bottom: 30px;
    }
    footer {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        padding-bottom: 20px;
    }
    .custom-navbar {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        text-align: center;
    }
    .custom-navbar .nav li a {
        line-height: normal;
        padding: 5px;
    }
    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
        color: #202020;
        font-weight: normal;
    }
    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
        color: #656565;
    }
    .feature-image {
        position: relative;
        bottom: 0;
    }
    #about .col-md-4:nth-child(3n) .team-thumb {
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }
    .team-thumb-down:after {
        top: -15px;
        bottom: inherit;
        border-top: inherit;
        border-bottom: 15px solid #ffffff;
    }
    .testimonial-image,
    .testimonial-info {
        height: 85vh;
    }
    .testimonial-info {
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    .online-form input[type="email"],
    .online-form .form-control {
        width: 85%;
    }
    .online-form .form-control {
        display: block;
        margin: 20px auto;
    }
    .online-form button {
        position: relative;
        right: 0;
    }
    .testimonial-image,
    .testimonial-info {
        height: 65vh;
    }
}